<h1>ブログ一覧</h1>
<p><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
    </tr>
  </thead>
  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= link_to '詳細を確認', blog %></td>
        <td><%= link_to 'ブログを編集', edit_blog_path(blog) %></td>
        <td><%= link_to 'ブログを削除', blog_path(blog.id), method: :delete, data: { confirm: '削除していいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '新しくブログを投稿する', new_blog_path %>
